# Server Environment
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio_db

# Security & Authentication
JWT_SECRET=super_secret_jwt_key_change_in_production_12345!
JWT_EXPIRES_IN=7d
INITIAL_ADMIN_PASSWORD=Srisarukumar@2004

# External Integrations
GITHUB_USERNAME=srisarukumar
GITHUB_TOKEN=
LEETCODE_USERNAME=srisarukumar
LEETCODE_DATA_SOURCE=https://leetcode-api-faisalshohag.vercel.app

# Frontend Public API URL (for Vite)
VITE_API_URL=http://localhost:5000/api
